name: Package Extension

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: scalar-chrome-extension
          path: |
            .
            !./.git
            !./.github
            !./.gemini*
            !./*.zip